import 'normalize.css';

import './global.less';

:root {
  /* 可在这里定义 CSS 变量（或在 Less 变量中定义） */
}

body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.5;
}